.card {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 6px;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
  transition: all 0.3s;
  background-color: #fff;
}

.card:hover {
  transform: scale(1.03);
}
.card__image {
  width: 100%;
}

.card__title {
  color: #555;
  padding: 0.8rem 0.5rem;
}

.card__details {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}

.card__author {
  color: #4f46e5;
  font-weight: 600;
}

.card__price {
  font-weight: 500;
}
