.header_container {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.header {
  padding: 1.5rem 0;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.header__logo {
  color: #4f46e5;
  font-weight: 500;
  font-size: 1.4rem;
}
.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav__item {
  margin-left: 1rem;
}

.nav__link {
  text-decoration: none;
  color: #000;
}
.nav__link:visited {
  color: #000;
}
.nav__button {
  text-decoration: none;
  background-color: #4f46e5;
  padding: 10px 25px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 18px;
  font-size: 12px;
}

.active {
  font-weight: 500;
}
