.courses__container {
  padding: 2rem 0;
}
.courses {
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.courses__title {
  text-align: center;
  color: #555;
  padding: 1.5rem 0;
}
